
<h1>{{currentLibrary.description}}</h1>


<div class="k-content col-md-3">
	<ul id="edm-treeview">
	</ul>
</div>


<div id="edm-details" class="col-md-9">
	<div class="slide-animate-container">
		
		<div ng-if="currentNode.edmNodeType === 'LIBRARY'" class="slide-animate" ng-include="'resources/views/node-treeview.library.html'">
		</div>
		
		<div ng-if="currentNode.edmNodeType === 'DIRECTORY'" class="slide-animate" ng-include="'resources/views/node-treeview.directory.html'">
		</div>
		
		<div ng-if="currentNode.edmNodeType === 'DOCUMENT'" class="slide-animate" ng-include="'resources/views/node-treeview.document.html'">
		</div>
		
	</div>
</div>
