<html ng-app="edmApp">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title th:text="${APPLICATION_NAME}">Simple Ged</title>
	
	<link rel="stylesheet" href="/resources/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/resources/css/kendo.common.min.css" />
    <link rel="stylesheet" href="/resources/css/kendo.default.min.css" />
    <link rel="stylesheet" href="/resources/css/kendo.bootstrap.min.css" />
    <link rel="stylesheet" href="/resources/css/icons-sprite.css" />
    <link rel="stylesheet" href="/resources/css/jquery.fileupload.css" />
    <link rel="stylesheet" href="/resources/css/jquery.fileupload-ui.css" />
    
    <script src="/resources/js/libs/jquery.min.js"></script>
    <script src="/resources/js/libs/angular.min.js"></script>
    <script src="/resources/js/libs/angular-route.min.js"></script>
    <script src="/resources/js/libs/angular-resource.min.js"></script>
    <script src="/resources/js/libs/angular-animate.min.js"></script>
    <script src="/resources/js/libs/kendo.all.min.js"></script>
    <script src="/resources/js/libs/angular-kendo.js"></script>
    <script src="/resources/js/libs/bootstrap.min.js"></script>
    
	<script src="/resources/js/libs/jquery.ui.widget.js"></script>
	<script src="/resources/js/libs/load-image.min.js"></script>
	<script src="/resources/js/libs/canvas-to-blob.min.js"></script>
	<script src="/resources/js/libs/jquery.iframe-transport.js"></script>
	<script src="/resources/js/libs/jquery.fileupload.js"></script>
	<script src="/resources/js/libs/jquery.fileupload-process.js"></script>
	<script src="/resources/js/libs/jquery.fileupload-image.js"></script>
	<script src="/resources/js/libs/jquery.fileupload-audio.js"></script>
	<script src="/resources/js/libs/jquery.fileupload-video.js"></script>
	<script src="/resources/js/libs/jquery.fileupload-validate.js"></script>
	<script src="/resources/js/libs/jquery.fileupload-angular.js"></script>
	
	<script src="/resources/js/application.js"></script>
	<script src="/resources/js/controllers.js"></script>
	<script src="/resources/js/controllers.node.js"></script>
	<script src="/resources/js/controllers.library.js"></script>
	<script src="/resources/js/controllers.document.js"></script>
	<script src="/resources/js/services.js"></script>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      <script src="/resources/js/libs/html5shiv.js"></script>
      <script src="/resources/js/libs/respond.min.js"></script>
    <![endif]-->
</head>
<body>

	<div class="container">
	
		<div class="header">
			<ul class="nav nav-pills pull-right">
				<li th:class="${section_document}? 'active'"><a href="/">Documents</a></li>
				<li th:class="${section_about}? 'active'"><a href="https://github.com/xaviermichel/simple-edm">A propos</a></li>
			</ul>
			<a href="/">
				<h3 class="text-muted" th:text="${APPLICATION_NAME}">Simple Ged</h3>
			</a>
		</div>

		<ng-include src="'resources/views/notifications.html'"></ng-include>

		<div ng-view="library-treeview">
		</div>

		<!-- 
		<div class="footer">
			<p><a href="https://github.com/xaviermichel/simple-ged/">Repository</a></p>
		</div>
		 -->
		
	</div> <!-- /container -->

</body>
</html>
