<!-- http://spring.io/guides/tutorials/web/4/ -->
<!-- http://demos.kendoui.com/web/treeview/mvvm.html | http://kendo-labs.github.io/angular-kendo/#/-->
<html ng-app="edmApp">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title th:text="${APPLICATION_NAME}">Simple Ged</title>
	
	<link rel="stylesheet" href="/resources/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/resources/css/kendo.common.min.css" />
    <link rel="stylesheet" href="/resources/css/kendo.default.min.css" />
    <link rel="stylesheet" href="/resources/css/kendo.bootstrap.min.css" />
    <link rel="stylesheet" href="/resources/css/icons-sprite.css" />

    <script src="/resources/js/libs/jquery.min.js"></script>
    <script src="/resources/js/libs/angular.min.js"></script>
    <script src="/resources/js/libs/angular-route.min.js"></script>
    <script src="/resources/js/libs/angular-resource.min.js"></script>
    <script src="/resources/js/libs/angular-animate.min.js"></script>
    <script src="/resources/js/libs/kendo.all.min.js"></script>
    <script src="/resources/js/libs/angular-kendo.js"></script>
	
	<script src="/resources/js/application.js"></script>
	<script src="/resources/js/controllers.js"></script>
	<script src="/resources/js/services.js"></script>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      <script src="/resources/js/libs/html5shiv.js"></script>
      <script src="/resources/js/libs/respond.min.js"></script>
    <![endif]-->
</head>
<body>

	<div class="container">
	
		<div class="header">
			<ul class="nav nav-pills pull-right">
				<li th:class="${section_document}? 'active'"><a href="/">Documents</a></li>
				<li th:class="${section_about}? 'active'"><a href="/about">A propos</a></li>
			</ul>
			<h3 class="text-muted" th:text="${APPLICATION_NAME}">Simple Ged</h3>
		</div>


		<div ng-view="library-treeview">
		</div>

		<!-- 
		<div class="footer">
			<p><a href="https://github.com/xaviermichel/simple-ged/">Repository</a></p>
		</div>
		 -->
		
	</div> <!-- /container -->

</body>
</html>
