<!-- http://spring.io/guides/tutorials/web/4/ -->
<html ng-app="gedApp">
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>Simple Ged</title>

        <link href="/resources/css/bootstrap.min.css" rel="stylesheet"/>

        <script src="/resources/js/libs/jquery.min.js"></script>
        <script src="/resources/js/libs/bootstrap.min.js"></script>
        <script src="/resources/js/libs/angular.min.js"></script>
	</head>
	<body>
	
		<!-- <header th:include="layout :: head"></header>  -->
	
		<span>Hello,</span>
		<span>Xavier</span>

        <!--  <footer th:include="layout :: foot"></footer> -->

        <script>



        </script>

    </body>
</html>
